<!-- 
    card_info["status"]
    card_info["rating"]
    card_info["movie"] = dict with: id, title, poster

    make a second version of this:
    "edit_watch_list_movie_card.html"

    need color argument in the watch list movie card
        finished = light gray
        plan to watch = yellow
        currently watching = green

    style="color:red"

-->
<style>
    .watch-list-movie-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 0.0rem;
        gap: 0.0rem;
    }

    .watch-list-movie-card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0.0rem 0.5rem 0.0rem 0.0rem;
    }
    .watch-list-p  { align-self: center; font-size: 0.9em; }
    .watch-list-h3 { align-self: center; font-size: 1.2em; font-weight: bold;}

    .watch-list-movie-card-movie { height: 90%; }
    .watch-list-movie-card-movie > .trending-item { height: 100%; }
    .watch-list-movie-card-movie > .trending-item > .movie-card-title > h3 { font-size: 1em; }

</style>

<div class="watch-list-movie-card"> 

    <div class="watch-list-movie-card-info">
        <div class="watch-list-p" > {{ card_info["status"] }}   </div>
        <div class="watch-list-h3"> {{ card_info["rating"] }}/5 </div>
    </div>

    <div class="watch-list-movie-card-movie">
        {{ movie_card(card_info["movie"]) | safe }}
    </div>


</div>