<div id="add-movie-modal">
    <!--
        Form to add a new movie to your movie list
        --------------------------------------------
        CREATE TABLE movies_list_info (
            id                serial 	PRIMARY KEY,
            owner_id          int,
            editor_ids        TEXT,
            list_name         TEXT,
            list_description  TEXT,
            date_created      timestamp DEFAULT CURRENT_TIMESTAMP
        );


        Modal/Form has three stages:
            * make query to database 
                - search bar to make the query
                - "search" button to send query
                - list of 3 movies is displayed
                - add movie button next to each one, unless already in this watch list
            
            * after user selects a movie to add, show an info page
                - completion (finished, currently watching, plan to watch)
                - rating
                - "Save to List" button

            * display a movie card
                - title, desc, etc
                - completion status
                - rating
                - sight average rating?
                - date added?


        (the button for closing the modal is separate from the submission button)
    
    
        <style>
            .my-modal {
                position: absolute;
                left: 25%;
                top: 25%;
                z-index: 2;
    
                margin: auto;
                width: 50%;
                background-color: white;
                border: 3px solid green;
                padding: 10px;
    
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .my-modal-backdrop {
                position: absolute;
                left: 0%;
                top: 0%;
                z-index: 1;
    
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 50%;
            }

            .user-movie-card {
                border: solid 1px;
                display: flex;
                justify-content: space-around;
            }
            .user-movie-card > img {
                border: 1px solid #ddd;
                border-radius: 8px;
            }

        </style>
        
    -->
    
        <!-- BACKDROP (translucent background for the modal) -->
        <div class="my-modal-backdrop"
            hx-get="/watch_list/modal" 
            hx-target="#add-movie-modal" 
            hx-trigger="click"
            hx-swap="delete">
        </div>
    
    
        <!-- MODAL CONTENT (title, form, close button) -->
        <div class="my-modal">
            <!-- 
                hx-trigger="keyup changed delay:500ms"  
                placeholder="Search..."
            -->

            <div id="results-table">
                <form 
                    hx-post="/watch_list/get_movie_cards"
                    hx-target="#movie_cards" 
                    hx-swap="outerHTML" 
                    hx-indicator="#indicator"
                >
                    <h3> Enter movie query </h3>

                    <input type="text" name="api_query" id="api_query" required
                        hx-post="/watch_list/get_movie_cards"
                        hx-trigger="keyup changed" 
                        hx-target="#movie_cards" 
                        hx-swap="outerHTML"
                        hx-indicator="#indicator" 
                    >

                    <input type="hidden" name="listID" value="{{ listID }}">

                    <!-- button and spinner --> 
                    <!-- COMMENTED OUT FOR NOW - CANT GET SPINNER TO BE CORRECT SIZE
                    <div class="modal-button-and-indicator">
                        <button type="submit"> Search </button>

                        <div class="modal-button-and-indicator-img">
                            <img id="indicator" class="htmx-indicator" src="/static/assets/spinner.gif"/>
                        </div>
                    </div>
                    -->

                    <button type="submit"> Search </button>
                
                </form>


                

                <div id="movie_cards"> </div>            


            </div>

            <!-- Close Button -->
            <button 
                hx-get="/watch_list/modal" 
                hx-target="#add-movie-modal" 
                hx-trigger="click"
                hx-swap="delete"
                >Close
            </button>
    
        </div>
    

    
    </div>