<div id="movie_cards">
    <!--
        Inputs:
            * results
                - "source"      = url for movie poster
                - "alt_text"    = alt text for image
                - "info"        = list of (key, value) tuples with movie info
                
            * api_feedback
                - tuple with (number of results shown, total results received)
    
    -->
        <div>
            
            <div class="user-movie-card">
        
                <img src="{{ movie['source'] }}" alt="{{ movie['alt_text'] }}">

                <div class="movie-card-info">
                    <table>
                        <tr> <th> Key                   </th> <th> Value                </th> </tr>
                        {% for info_pair in movie['info'] %}
                        <tr> <td> {{ info_pair[0] }}    </td> <td> {{ info_pair[1] }}   </td> </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>


            <!-- User Input Form -->
            <div>

                <form hx-post="/watch_list/movie_added_htmx" hx-target="#movie_cards" hx-swap="outerHTML">
    
                    <label for="watch-status"> Enter Completion Status: </label>
                    <select id="watch-status" name="watch-status">
                        <option value="0"> Plan to Watch        </option>
                        <option value="1"> Currently Watching   </option>
                        <option value="2"> Finished Watching    </option>
                    </select>
    
                    <label for="rating"> Enter Rating: </label>
                    <select id="rating" name="rating">
                        <option value="0"> 0 </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                    </select>
    
                    <input type="hidden" name="listID"      value="{{ listID    }}">
                    <input type="hidden" name="movie_info"  value="{{ movie     }}">
                    <input type="hidden" name="userID"      value="{{ g.user[0] }}">
                    <button type="submit"> Finish </button>
    
                </form>

            </div>

            
            
        </div>
    
    
    
    </div>
    
    <!--
        Form to add a new movie to your movie list
        --------------------------------------------
        CREATE TABLE movies_list_info (
            id                serial 	PRIMARY KEY,
            owner_id          int,
            editor_ids        TEXT,
            list_name         TEXT,
            list_description  TEXT,
            date_created      timestamp DEFAULT CURRENT_TIMESTAMP
        );


        Modal/Form has three stages:
            * make query to database 
                - search bar to make the query
                - "search" button to send query
                - list of 3 movies is displayed
                - add movie button next to each one, unless already in this watch list
            
            * after user selects a movie to add, show an info page
                - completion (finished, currently watching, plan to watch)
                - rating
                - "Save to List" button

            * display a movie card
                - title, desc, etc
                - completion status
                - rating
                - sight average rating?
                - date added?


        (the button for closing the modal is separate from the submission button)
    
    
        <style>
            .my-modal {
                position: absolute;
                left: 25%;
                top: 25%;
                z-index: 2;
    
                margin: auto;
                width: 50%;
                background-color: white;
                border: 3px solid green;
                padding: 10px;
    
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .my-modal-backdrop {
                position: absolute;
                left: 0%;
                top: 0%;
                z-index: 1;
    
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 50%;
            }

            .user-movie-card {
                border: solid 1px;
                display: flex;
                justify-content: space-around;
            }
            .user-movie-card > img {
                border: 1px solid #ddd;
                border-radius: 8px;
            }

        </style>
      Help with styling things  
    --> 