<div id="movie_cards">
<!--
    Inputs:
        * results
            - "source"      = url for movie poster
            - "alt_text"    = alt text for image
            - "info"        = list of (key, value) tuples with movie info
            
        * api_feedback
            - tuple with (number of results shown, total results received)

-->
    <div>
        {% for movie in results %}
        
            <div class="user-movie-card">
                <!--
                    first start with an HStack, 3 elements
                        * movie poster (image)
                        * movie information (table)
                        * add movie button / "already in this list" button 
                -->
                
                <img src="{{ movie['source'] }}" alt="{{ movie['alt_text'] }}">

                <div class="movie-card-info">
                    <table>
                        <tr>
                            <th>Key</th> <th>Value</th>
                        </tr>
                        {% for info_pair in movie['info'] %}
                        <tr>
                            <td> {{ info_pair[0] }} </td> <td> {{ info_pair[1] }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="movie-card-button">

                    <form hx-post="/watch_list/show_user_input_form" hx-target="#movie_cards" hx-swap="outerHTML">
        
                        <input type="hidden" name="listID"     value="{{ listID    }}">
                        <input type="hidden" name="movie_info" value="{{ movie }}">

                        <button type="submit"> Select </button>
        
                    </form>

                    
                </div>

            </div>
        
        {% endfor %}
    </div>


    <!-- API feedback -->
    <p> showing first {{ api_feedback[0] }} results out of {{ api_feedback[1] }} received </p>

</div>
