{% extends 'base.html' %}

{% block header %}
  <h1> {% block title %} {{ owner_username }} - {{ list_info[3] }} {% endblock %} </h1>
{% endblock %}

{% block content %}
<div>
<!--
    Watch List Page:
    ------------------
        * shows the watch list info
        * shows all of the movies in the watch list 
            - just some basic data for now, pictures can come later
        * edit button brings up a modal window
        
    Modal Window:
    --------------
        * search bar and "search" button
        * sends a query to the movieDB api
        * display first ~3 results for now
            - when displaying results, compare them to the movies already in the list
            - for those that are already in, do not show the add button
        * next to each result there will be an "add" button

    LATER:
    ------
        * add ability to edit...
            - list name
            - list description
            - list editors
            - delete list
        * add statistics
            - list movie count
            - list watch time
            - list genres pie chart
            - etc....


    Values Passed:
    --------------
    * "list_info"


    * "owner_username"
        - retrieved in the python file server

-->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>                
    <link rel="stylesheet" href="{{ url_for('static', filename='style-light.css') }}">

    <div id="box">


        
        <div class="watch-list-info"> 

            <div class="watch-list-description">
                <p> Date Created: {{ list_info[6] }} </p>
                <p> Last Updated: {{ list_info[7] }} </p>
                <p> {{ list_info[4] }} </p>
            </div>

            <!-- This will create a pie chart comparing the number of similar and different movies watched by the current user and a friend -->
            <div id="userComparisonChart" class="watch_list_pie_chart">
                <h4>Watch list movie count by genre</h4>
                <script src="https://d3js.org/d3.v4.js"></script>
                <var id="pieData">{{user_genres}}</var>
                <script>//Creates pychart from inputted string
                    pieInfo=document.getElementById('pieData')
                    pieInfo.style.visibility='hidden';
                    pieInfo=document.getElementById('pieData')
                    pieInfo.style.visibility='hidden';
                    genreString=pieInfo.textContent;
                    genreArray=genreString.split(',')
                    var width = 250
                    height = 250
                    margin = 20
     
                    // The radius of the piepchart
                    var radius = Math.min(width, height) / 2 - margin
     
                //add chart to canvas
                    var svg = d3.select("#userComparisonChart")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .append("g")
                        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
     
                    //  data = {Horror: 6, Comedy: 5, Action:9, Documentary: 6}
                     data={}
                     for(let i=0;i<genreArray.length;i++){//Parses string into array
                        console.log(genreArray[i].split(':')[0])
                     data[genreArray[i].split(':')[0]]=genreArray[i].split(':')[1];
                }
                    // console.log(data1)
                    // set the colors
                    var color = d3.scaleOrdinal()
                        .domain(data)
                        .range(["#0000ff","#ff0000", "#ffa500","#008000","#4b0082","#ee82ee"])
     
                    // Calculate the relative size of each section
                    var pie = d3.pie()
                        .value(function(d) {return d.value; })
                        var enterData = pie(d3.entries(data))
     
                    // graph each section of the pie chart
                    svg
                        .selectAll('mySlices')
                        .data(enterData)
                        .enter()
                        .append('path')
                        .attr('d', d3.arc()
                        .innerRadius(0)
                        .outerRadius(radius))
                        .attr('fill', function(d){ return(color(d.data.key)) })
                            .attr("stroke", "black")
                            .style("stroke-width", "3px")
                       
                    //Adds labels
                    svg
                    .selectAll('mySlices')
                    .data(enterData)
                    .enter()
                    .append('text')
                    .text(function(d){ return d.data.key+""})
                    .attr("transform", function(d) { return "translate(" + d3.arc().innerRadius(0).outerRadius(radius).centroid(d) + ")";  })
                    .style("text-anchor", "middle")
                    .style("font-size", 10)
                    .attr('fill','White')
     
                </script>
            </div>

    </div>


        <!-- "Add Movie" Modal -->
        <div class="watch_lists_info">
            <!-- 
            Only show the edit buttons if the one viewing this user page is logged in as the owner or an editor
                the users id (if logged in):    {{ g.user[0]    }}
                id of the user page owner:      {{ list_info[1] }}
            -->
            {% if g.user[0]|int == list_info[1]|int %}
            <form hx-post="/watch_list/modal" hx-target="#modals-here" hx-swap="innerHTML">
                <input type="hidden" name="listID"      value="{{ listID    }}">
                <input type="hidden" name="movie_info"  value="{{ movie     }}">
                <button type="submit"> Add Movie </button>
            </form>
            {% endif %}

        </div>


        <style>
            .watch-list-movies{
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                gap: 1.0rem;
                padding: 1.0rem;
            }
        </style>
        <!-- Movies List Table -->
        <div class="watch-list-movies">
            {% for movie in movies_list %}
                {{ watch_list_movie_card(movie) | safe }}
            {% endfor %}
        </div>
        





    </div>

    <div id="modals-here"> </div>

</div>
{% endblock %}

<!--
    Watch List Page:
    ------------------
        * shows the watch list info
        * shows all of the movies in the watch list 
            - just some basic data for now, pictures can come later
        * edit button brings up a modal window
        
    Modal Window:
    --------------
        * search bar and "search" button
        * sends a query to the movieDB api
        * display first ~3 results for now
            - when displaying results, compare them to the movies already in the list
            - for those that are already in, do not show the add button
        * next to each result there will be an "add" button

    LATER:
    ------
        * add ability to edit...
            - list name
            - list description
            - list editors
            - delete list
        * add statistics
            - list movie count
            - list watch time
            - list genres pie chart
            - etc....


    Values Passed:
    --------------
    * "list_info"


    * "owner_username"
        - retrieved in the python file server
Refrence for future additions
-->
<!--<div class="user_page_VStack">
    
    <div class="user-page-item"> 
        <div id="userComparisonChart" class="user_pie_chart">
            <h4>Total movie count by genre</h4>
            <script src="https://d3js.org/d3.v4.js"></script>
            <script>
                // function pieChart(){
                var width = 250
                height = 250
                margin = 20

                // The radius of the piepchart
                var radius = Math.min(width, height) / 2 - margin

            //add chart to canvas
                var svg = d3.select("#userComparisonChart")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                var data = {Horror: 6, Comedy: 3, Action:9, Documentary: 6}

                // set the colors
                var color = d3.scaleOrdinal()
                    .domain(data)
                    .range(["#377ba8", "#cae6f6","gray","#D3D3D3"])

                // Calculate the relative size of each section
                var pie = d3.pie()
                    .value(function(d) {return d.value; })
                    var enterData = pie(d3.entries(data))

                // graph each section of the pie chart
                svg
                    .selectAll('mySlices')
                    .data(enterData)
                    .enter()
                    .append('path')
                    .attr('d', d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius))
                    .attr('fill', function(d){ return(color(d.data.key)) })
                        .attr("stroke", "black")
                        .style("stroke-width", "3px")
                    
                //Adds labels
                svg
                .selectAll('mySlices')
                .data(enterData)
                .enter()
                .append('text')
                .text(function(d){ return d.data.key+""})
                .attr("transform", function(d) { return "translate(" + d3.arc().innerRadius(0).outerRadius(radius).centroid(d) + ")";  })
                .style("text-anchor", "middle")
                .style("font-size", 9) // Changed the size so comedy fully fits in the graph 

            // }
            </script>

        </div>

    </div>
     <div class="user_page_socials">
        <p> Friends:   {{ 25 }} </p>
        <p> Followers: {{ 20 }} </p>
        <button type="submit"> Add Friend </button>
        <button type="submit"> Edit Bio </button>
        <div class="user-page-statistics">

            <p class="statistics-header"> Statistics </p>
        
            <ul class="user-statistics">
                {% for entry in statistics %}

                <div class="statistics-spacer">
                <li class="statistics-label"> {{ entry[0] }} <li>
                <li class="statistics-item" > {{ entry[1] }} <li>
                </div>

                {% endfor %}
            </ul>
        
        </div>

         {% if g.user is not none %}
                    {% if g.user[0]|int == this_user[0]|int %}
                    
                    <button 
                        hx-get="/user/modal" 
                        hx-target="#modals-here" 
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        > Create New Watch List
                    </button>

                    {% endif %}
                {% endif %}
            </div>
            
            <div class="list_preview_wrapper">
                {% for watch_list in user_lists %}
                    {{ watch_list_card(watch_list[0]) | safe }}
                {% endfor %}
            </div>

        </div>

        <div class="user-page-statistics">

            <p class="statistics-header"> User Comparison </p>
        
            <ul class="user-statistics">
                {% for entry in user_comparison %}

                <div class="statistics-spacer">
                <li class="statistics-label"> {{ entry[0] }} <li>
                <li class="statistics-item" > {{ entry[1] }} <li>
                </div>

                {% endfor %}
               

            </div>
            </ul>
        
        </div>

    </div>  

    <div id="modals-here"> </div>

</div>

{% endblock %}   CODE REFRENCE BUT DOES NOT FULLY WORK

 -->