{% extends 'base.html' %}

{% block content %}
<div>
<!--
    Watch List Page:
    ------------------
        * shows the watch list info
        * shows all of the movies in the watch list 
            - just some basic data for now, pictures can come later
        * edit button brings up a modal window
        
    Modal Window:
    --------------
        * search bar and "search" button
        * sends a query to the movieDB api
        * display first ~3 results for now
            - when displaying results, compare them to the movies already in the list
            - for those that are already in, do not show the add button
        * next to each result there will be an "add" button

    LATER:
    ------
        * add ability to edit...
            - list name
            - list description
            - list editors
            - delete list
        * add statistics
            - list movie count
            - list watch time
            - list genres pie chart
            - etc....


    Values Passed:
    --------------
    * "list_info"
    CREATE TABLE movies_list_info (
        id                serial 	PRIMARY KEY,
        owner_id          int,
        editor_ids        TEXT,
        list_name         TEXT,
        list_description  TEXT,
        date_created      timestamp DEFAULT CURRENT_TIMESTAMP
    );

    * "movies_list"
    CREATE TABLE movies_list (
        movie_id    int references movies(id),
        list_id     int references movies_list_info(id),
        status      int DEFAULT    0,
        rating      int DEFAULT    -1,
        constraint pk_movies_list primary key (movie_id, list_id)
    );

    * "owner_username"
        - retrieved in the python file server

-->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>                
    <link rel="stylesheet" href="{{ url_for('static', filename='style-light.css') }}">

    <div id="box">

        <!-- List Title and Info -->
        <h1>{% block title %} {{ list_info[3] }} {% endblock %}</h1>
        
        <div>
            <h1> Owner: {{ owner_username }} </h3>
            <h3> #{{ list_info[1] }} </h3>
            <p> Created on: {{ list_info[5] }} </p>
            <p> {{ list_info[4] }} </p>
        </div>


        <!-- "Add Movie" Modal -->
        <div class="watch_lists_info">
            <h3> {{ "this_user[1]" }}'s Watch Lists</h3>

            <!-- 
            Only show the edit buttons if the one viewing this user page is logged in as the owner or an editor
                the users id (if logged in):    {{ g.user[0]    }}
                id of the user page owner:      {{ list_info[1] }}
                ids of editors:                 (not yet implemented)

            -->
            {% if g.user[0]|int == list_info[1]|int %}

            <form hx-post="/watch_list/modal" hx-target="#modals-here" hx-swap="innerHTML">

                <input type="hidden" name="listID"      value="{{ listID    }}">
                <input type="hidden" name="movie_info"  value="{{ movie     }}">

                <button type="submit"> Add Movie </button>

            </form>

            {% endif %}

        </div>


        <!-- Movies List Table -->
        <table class="test4">
    
            <tr>
                <th> Movie Poster   </th>
                <th> Movie Info     </th>
                <th> User Review    </th>
            </tr>
            
            {% for movie in movies_list %}
            <tr>
                <!-- Movie Poster -->
                <td> <img src="{{ movie['poster'] }}" alt="Poster for {{ movie['title'] }}"> </td>
                
                <!-- Movies Info -->
                <td> 
                    <h3>    {{ movie['title']   }} </h2>
                    <p>    #{{ movie['id']      }} </p>
                </td>

                <!-- User Review -->
                <td> 
                    <h4> Status: </h4>
                    <p> {{ movie['status'] }} </p>

                    <h4> Rating: </h4>
                    <p> {{ movie['rating']/5 }} </p>
                </td>

            </tr>
            {% endfor %}

        </table>
        
    </div>

    <div id="modals-here"> </div>

</div>
{% endblock %}