<div id="user-modal">


    <!-- BACKDROP (translucent background for the modal) -->
    <div class="my-modal-backdrop"
        hx-get="/user/modal" 
        hx-target="#user-modal" 
        hx-trigger="click"
        hx-swap="delete">
    </div>


    <!-- MODAL CONTENT (title, form, close button) -->
    <div class="my-modal">

        <div id="create-new-list-form">

            <h1> Create New Watch List </h1>

            <form hx-post="/user/create_new_list" hx-target="#create-new-list-form" hx-swap="outerHTML">

                <h3> Title </h3>
                <input type="text" id="new-list-title" name="new-list-title" required>

                <h4> Description </h4>
                <input type="text" id="new-list-description" name="new-list-description"  required>

                <input type="hidden" name="userID" value="{{ g.user[0] }}">

                <button type="submit"> Finish </button>

            </form>

        </div>


        <!-- Close Button -->
        <button 
            hx-get="/user/modal" 
            hx-target="#user-modal" 
            hx-trigger="click"
            hx-swap="delete"
            >Close
        </button>

    </div>

</div>