{% extends 'base.html' %}

{% block header %}
  <h1> {% block title %} {{ this_user[1] }}'s Page {% endblock %} #{{ this_user[0] }} </h1>
{% endblock %}

{% block content %}


<div class="user_page_VStack">

    <div class="user-page-item"> 

        <!-- User Bio -->
        <div class="user_page_bio"> 
            <p id="user_bio_box"> {{ page_info["user_bio"] }} </p>

            {% if g.user is not none %}
                {% if g.user[0]|int == this_user[0]|int %}
                <form   hx-post="{{ url_for('modal_form_edit_bio') }}"
                        hx-target="#modals-here" 
                        hx-trigger="click"
                        hx-swap="innerHTML"
                >
                    <button type="submit" data-toggle="modal" data-target="#myModal"> Edit Bio </button>
                    <input type="hidden" name="current_bio" value="{{ page_info['user_bio'] }}">
                </form>
                {% endif %}
            {% endif %}
        </div>



        <!-- This will create a pie chart comparing the number of similar and different movies watched by the current user and a friend -->
        <div id="userComparisonChart" class="user_pie_chart">
            <h4>Total movie count by genre</h4>
            <script src="https://d3js.org/d3.v4.js"></script>
            <var id="pieData">{{user_genres}}</var>

            <script>//Creates pychart from inputted string
                pieInfo=document.getElementById('pieData')
                pieInfo.style.visibility='hidden';
                pieInfo=document.getElementById('pieData')
                pieInfo.style.visibility='hidden';
                genreString=pieInfo.textContent;
                genreArray=genreString.split(',')
                var width = 250
                height = 250
                margin = 20
 
                // The radius of the piepchart
                var radius = Math.min(width, height) / 2 - margin
 
            //add chart to canvas
                var svg = d3.select("#userComparisonChart")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
 
                //  data = {Horror: 6, Comedy: 5, Action:9, Documentary: 6}
                 data={}
                 for(let i=0;i<genreArray.length;i++){//Parses string into array
                    console.log(genreArray[i].split(':')[0])
                 data[genreArray[i].split(':')[0]]=genreArray[i].split(':')[1];
            }
                // console.log(data1)
                // set the colors
                var color = d3.scaleOrdinal()
                    .domain(data)
                    .range(["#0000ff","#ff0000", "#ffa500","#008000","#4b0082","#ee82ee"])
 
                // Calculate the relative size of each section
                var pie = d3.pie()
                    .value(function(d) {return d.value; })
                    var enterData = pie(d3.entries(data))
 
                // graph each section of the pie chart
                svg
                    .selectAll('mySlices')
                    .data(enterData)
                    .enter()
                    .append('path')
                    .attr('d', d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius))
                    .attr('fill', function(d){ return(color(d.data.key)) })
                        .attr("stroke", "black")
                        .style("stroke-width", "3px")
                   
                //Adds labels
                svg
                .selectAll('mySlices')
                .data(enterData)
                .enter()
                .append('text')
                .text(function(d){ return d.data.key+""})
                .attr("transform", function(d) { return "translate(" + d3.arc().innerRadius(0).outerRadius(radius).centroid(d) + ")";  })
                .style("text-anchor", "middle")
                .style("font-size", 10)
                .attr('fill','White')
 
            </script>

        </div>

    </div>




    <!-- Socials -->
    <div class="user_page_socials">
        <p> Friends: {{ page_info["num_friends"] }} </p>
        
        {% if g.user is not none %}
            {% if g.user[0]|int != this_user[0]|int %}
                {{ friends_button | safe }}
            {% endif %}
        {% endif %}
    
    </div>






    <!-- User Page Content -->
    <div class="user_page_HStack">



        <!-- User Statistics -->
        <div class="user-page-statistics">

            <p class="statistics-header"> Statistics </p>
        
            <ul class="user-statistics">
                {% for entry in statistics %}

                <div class="statistics-spacer">
                <li class="statistics-label"> {{ entry[0] }} <li>
                <li class="statistics-item" > {{ entry[1] }} <li>
                </div>

                {% endfor %}
            </ul>
        
        </div>



        <!-- Watch List Display -->
        <div class="user_watch_lists">
            <div class="watch_lists_info">
                <h3> {{ this_user[1] }}'s Watch Lists </h3>
                <!-- 
                Only show the edit buttons if the one viewing this user page is logged in as the owner
                    the users id (if logged in):    {{ g.user[0]    }}
                    id of the user page:            {{ this_user[0] }}
                -->
                {% if g.user is not none %}
                    {% if g.user[0]|int == this_user[0]|int %}
                    <form   hx-post="{{ url_for('modal_form_create_watch_list') }}"
                            hx-target="#modals-here" 
                            hx-swap="innerHTML"
                        >
                        <button type="submit" data-toggle="modal" data-target="#myModal"> Create New Watch List </button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>



            <style>
                .list_preview_wrapper2 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    gap: 1.5rem;
                    padding: 0.0rem 1.5rem 1.5rem 1.5rem;
                }
            </style>
            <div class="list_preview_wrapper2">
                {% for watch_list in user_lists %}
                    {{ watch_list_card(watch_list[0]) | safe }}
                {% endfor %}
            </div>


        </div>



        <!-- User Statistics -->
        <div class="user-page-statistics">

            <p class="statistics-header"> User Comparison </p>
        
            <ul class="user-statistics">
                {% for entry in user_comparison %}

                <div class="statistics-spacer">
                <li class="statistics-label"> {{ entry[0] }} 
                <li class="statistics-item" > {{ entry[1] }} 
                </div>

                {% endfor %}
               
            </div>
            </ul>
        
        </div>

    </div>  

    

    <div class="modal" id="myModal">
        <div id="modals-here"> </div>
    </div>



</div>

{% endblock %}

