{% extends 'base.html' %}

<!--
ideas to add:
    * recent updates (display previous 3 shows/movies added)
    * statistics
        - movies watched
        - shows watched
        - average rating
--> 

{% block content %}
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>                

<link rel="stylesheet" href="{{ url_for('static', filename='user_page_light.css') }}">


<div class="user_page_VStack">

    <!-- User Page Header -->
    <div class="user_page_header">
        <h1>{% block title %} {{ this_user[1] }}'s Page {% endblock %}</h1>
        <h3> #{{ this_user[0] }} </h3>
    </div>



    <!-- User Bio -->
    <div class="user_page_bio">
        <p>
            {{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et egestas quis ipsum suspendisse ultrices gravida. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Tortor dignissim convallis aenean et tortor. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Libero justo laoreet sit amet. In ornare quam viverra orci sagittis eu. Auctor urna nunc id cursus metus. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Aliquam malesuada bibendum arcu vitae." }}
        </p>
    </div>



    <!-- Socials -->
    <div class="user_page_socials">

        <div class="socials_item">     <p> Friends      </p>    <p> {{ 25 }} </p> </div>
        <div class="socials_item">     <p> Followers    </p>    <p> {{  2 }} </p> </div>

        <div class="socials_item">
            <form hx-post="/edit_watch_list_htmx" hx-trigger="click" hx-target="#box" hx-swap="outerHTML" >
                <input type="submit" value="Add Friend" >
            </form>     
        </div>

    </div>



    <!-- User Page Content -->
    <div class="user_page_HStack">

        <!-- User Statistics -->
        <div class="user_statistics">
            <h3> Statistics </h3>

            <div class="table_row">     <p> Joined              </p>    <p> {{ this_user[4]     }} </p> </div>
            <div class="table_row">     <p> Completed           </p>    <p> {{ statistics[0]    }} </p> </div>
            <div class="table_row">     <p> Currently Watching  </p>    <p> {{ statistics[1]    }} </p> </div>
            <div class="table_row">     <p> Plan to Watch       </p>    <p> {{ statistics[2]    }} </p> </div>
            <div class="table_row">     <p> Watch Time          </p>    <p> {{ statistics[3]    }} </p> </div>

        </div>

        <!-- Watch List Display -->
        <div class="user_watch_lists">

            <div class="watch_lists_info">
                <h3> {{ this_user[1] }}'s Watch Lists</h3>

                <!-- 
                Only show the edit buttons if the one viewing this user page is logged in as the owner
                    the users id (if logged in):    {{ g.user[0]    }}
                    id of the user page:            {{ this_user[0] }}

                Later on I want to give the modal dialogue the user id so it can see the user's data (movies already in this list, etc)
                    The URL would need to be: /user/<userID>/modal
                    So:
                        hx-get="/user/{{g.user[0]}}/modal"
                -->

                {% if g.user[0]|int == this_user[0]|int %}
                
                <button 
                    hx-get="/user/modal" 
                    hx-target="#modals-here" 
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    > Create New Watch List
                </button>

                {% endif %}

                

            </div>

            <div class="list_preview_wrapper">
                {% for watch_list in user_lists %}

                <div class="list_preview">
                    <h3> {{ watch_list[3] }} </h3>
                    <p>  {{ watch_list[4] }}  </p>
                    <p>  Created On: {{ watch_list[5] }}  </p>
                    <a href="{{ url_for('watch_list', listID=watch_list[0]) }}">View List</a>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>  

    <div id="modals-here"> </div>

</div>

{% endblock %}