
/* BASE HTML
--------------------------------------------------------------------------- */
/*html { 
    font-family: sans-serif; 
    background: rgba(238, 238, 238); 
    padding: 1rem; 
}*/
/* top function could be deleted later after demo*/

/* header */
.base-header {
    width: 100vw; max-width: 99%;
    position: absolute; left: 0%; top: 0%;
    padding: 0.0rem;
}
.header-content {
    background-color: rgba(0,122,255);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.0rem 5.0rem 0.0rem 5.0rem;
}
.header-title { color: white; }
.header-links {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}
.header-links > li {
    color: white;
    text-decoration: none; 
    /* padding: 0.25rem 0.5rem; */
    padding: 0.0rem 0.5rem;
}
.header-links > li > a { color: white; }


/* content */
.content { 
    max-width: 1080px; 
    height: 100%;
    margin: 0 auto; 
    background: white;
    padding: 0.0rem 1.0rem 1.0rem 1.0rem; 
}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }

/* footer */
.my-footer {
    background: linear-gradient(to right, #00093c, rgba(0,122,255));
    color: #fff;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    font-size: 13px;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.my-footer img{
    width: 40%;
    margin-bottom: 10px;
    position: relative;
    bottom: 50%;

}

ul li {
    list-style: none;
    margin-bottom: 12px;
    /* position: relative;
    right: 10%; */
}

ul li a {
    text-decoration: none;
    color: white;
}

.github-icon .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    /* position: relative;    
    left: 20%; */
}

/* MODAL STYLE
--------------------------------------------------------------------------- */
.my-modal {
    position: absolute;
    top: 10px;
    left: 10%;
    z-index: 2;

    margin: auto;
    width: 1000px;
    background-color: white;
    border: 3px solid green;
    padding: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-modal-backdrop {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;

    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: 50%;
}

.user-movie-card {
    border: solid 1px;
    display: flex;
    justify-content: space-around;
}
.user-movie-card > img {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.modal-button-and-indicator {
    display: flex;
    justify-content: space-between;
}
.modal-button-and-indicator-img {
    width: 1.0rem;
    height: 1.0rem;
}



/* USER PAGE
--------------------------------------------------------------------------- */
.user_page_header {
    width: 99%;
    display: flex;
    justify-content: flex-start;
    padding: 0 0.5rem;
    gap: 1.0rem;
}

/* Content */
.user_page_VStack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.0rem;
}
.user_page_HStack {
    display: flex;
    justify-content: space-between;
    column-gap: 1.0rem;
    /*padding: 1.0rem 0;*/
}

/* Header */
.user_page_header { 
    display: flex;
    justify-content: flex-start;
    padding: 0 1.0rem;
}

.user-page-item {
    display: flex;
    justify-content: space-between;
    column-gap: 1.0rem;
    padding: 1.0rem 0;
}
/* Bio */
.user_page_bio {
    flex-grow: 4;
    border: solid 1px;
    padding: 0 1.0rem;
}
.user_pie_chart {
    flex-grow: 1;
    border: solid 1px;
}



/* Socials Bar */
.user_page_socials {
    height: 3.0rem;
    background-color: rgba(0,122,255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    padding: 0 1.0rem;
    gap: 1.0rem;
}
.user_page_socials > p {
    color: white;
    border-right: 2px solid white;
    padding-right: 1.0rem;
}
.user_page_socials > button {
    height: 2.0rem;
    padding: 0 1.0rem;
}


/* User Statistics 
--------------------------------------------------------------------------- */
.user-page-statistics {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex: 1 2 15%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.0rem;
    gap: 0;
}
.statistics-header  { 
    height: 1.5rem;
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
}
.user-statistics {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0rem;
    gap: 0.5rem;
}
.statistics-label   { font-weight: 500; }
.statistics-item    { 
    color: rgba(0,122,255); 
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    font-size: smaller;
}
/* .statistics-spacer  { height: 0.5rem;           } */





/* User Watch Lists */
.user_watch_lists {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    flex: 2 1 65%;
}
.user_watch_lists > h3 {
    padding: 0 1.0rem;
}
.watch_lists_info {
    display: flex;
    justify-content: flex-start;
    padding: 0 1.0rem;
    gap: 1.0rem;
}
.list_preview_wrapper {
    display: flex;
    padding: 1.0rem;
    gap: 1.0rem;
}
.list_preview {
    background: rgba(209,209,214);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 0.25rem 0.5rem;
}






/* HOME PAGE
--------------------------------------------------------------------------- */
.home-page-content {
    display: flex;
    justify-content: space-between;
    column-gap: 1.0rem;
    padding: 1.0rem 0;
}

.trending-movies {
    flex: 3 1 75%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 0.0rem 1.0rem 1.0rem 1.0rem;
}
.trending-list-header  { 
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
    padding: 1.0rem 0.0rem 0.0rem 0.0rem;
}
.trending-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 2.0rem;
    column-gap: 2.0rem;
    padding: 1.0rem 1.0rem 1.0rem 1.0rem;

    text-decoration: none;
}


.friends-list {
    min-width: 10%;
    flex: 1 1 12%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.0rem;
}
.friends-list-header  { 
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
    padding: 1.0rem 0.0rem 0.0rem 0.0rem;
}
.user-friends-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0rem;
    gap: 0.5rem;
}
.friend-username    { 
    color: rgba(0,122,255); 
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    font-size: smaller;
}













/* Home Page 
--------------------------------------------------------------------------- */
.home-search{
    background-color: transparent;
    width: 50%;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: inherit;
    align-self: center;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    display: inline;
}

.home-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-movie{
    width: 200px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
}

.home-movie img{
    min-width: 100%;
}

.home-search-drop {
    /* border: dashed; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80px;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,122,255); 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px black;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    width: 80px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    right: 15%;
    bottom: 80px;
    width: 80px;
    background-color: rgba(0,122,255);
    float: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .tag {
    color: black;
    padding: 10px 15px;
    background-color: white;
    border: 2px black solid;
    border-radius: 50px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    
  }
  
  .drop-form {
    z-index: -1;
  }

  /* Change color of dropdown links on hover */
  .tag:hover {background-color: rgba(0,122,255);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgba(0,0,255);}


/* Movie Page
-------------------------------------------------------------------------------------- */

.movie-page-img-container {
    width: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 100px;
}

.movie-page-overview-container {
    width: 700px;
    height: 450px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    left: 425px;
    bottom: 480px;
    opacity: 0.75;
    filter: alpha(opacity=50);
}

.movie-page-overview-container p{
    color: black;
    opacity: 1;
}

.movie-page-add-button {
    position: relative;
    bottom: 500px;
    left: 600px;
    background-color: rgba(0,122,255);
    color: white;
    width: 100px;
    height: 50px;
}

.movie-page-header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-page-content-container {
    /* background-color: blue; */
    height: 600px;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
}

.movie-page-extra-container {
    /* background-color: red; */
    height: 300px;
    width: 100%;

}

/* .box {
    height: 600px;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    background-image: url({{movieDisplay[11]}});
    background-size: 100%;
    filter: blur(5px);
} */



/* Watch List Page
-------------------------------------------------------------------------------------- */
.watch-list-info {
    display: flex;
    justify-content: space-between;
    column-gap: 1.0rem;
    padding: 1.0rem;
}
.watch-list-description {
    flex-grow: 4;
}
.watch_list_pie_chart {
    flex-grow: 1;
}











/*
Flex Box Reference
-------------------
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/

Shadows
--------
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


System Grays 
-------------
https://developer.apple.com/design/human-interface-guidelines/foundations/color/

    lightmode
    gray 2: rgba(174,174,178)
    gray 4: rgba(209,209,214)
    gray 5: rgba(229,229,234)

    darkmode 
    gray 3: rgba(72,72,74)


System Colors
--------------
https://developer.apple.com/design/human-interface-guidelines/foundations/color/

    lightmode
    blue: rgba(0,122,255)

*/