
/*
html { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background: #1B1212; padding: 1rem; }
body { max-width: 1450px; margin: 0 auto; background: #28282B; color: #ffffff; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { height: 80px; background: #28282B; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; color: #C70039;} /* CinemUs logo*/
/*
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem;}
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action {display: block; padding: 0 20px; color: #C70039;} /* Menu items */
/*
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
a:link { text-decoration: none; } /*gets rid of underlines under links */











/* Nav bar adjusments */   

h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }

nav { background: #4184f4; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

.nav-item > .nav-link:hover{
    background-color: black;
    color: white;
}

.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }


.test1 { 
    width: 12.5%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.test4 { 
    padding: 0.5rem;
    border: solid;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.test2 { 
    width: 37.5%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}
.test3 { 
    padding: 0.2rem;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

/*
.top-logo {
    position: relative;
    display: block;
    width: 5vw;
    max-width: none;
    min-width: 130px;
}
*/






























