
/* BASE HTML
--------------------------------------------------------------------------- */
html { 
    font-family: sans-serif; 
    background: rgba(238, 238, 238); 
    padding: 1rem; 
}

/* header */
.base-header {
    width: 100vw; max-width: 100%;
    position: absolute; left: 0%; top: 0%;
    padding: 0.0rem;
}
.header-content {
    background-color: rgba(0,122,255);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.0rem 5.0rem 0.0rem 5.0rem;
}
.header-title { color: white; }
.header-links {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}
.header-links > li {
    color: white;
    text-decoration: none; 
    /* padding: 0.25rem 0.5rem; */
    padding: 0.0rem 0.5rem;
}
.header-links > li > a { color: white; }


/* content */
.content { 
    max-width: 1080px; 
    height: 100%;
    margin: 0 auto; 
    background: white;
    padding: 3.0rem 1.0rem 1.0rem 1.0rem; 
}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }

/* footer */
.my-footer {
    background: #eee;
    width: 100%;
    height: 200px;
}



/* MODAL STYLE
--------------------------------------------------------------------------- */
.my-modal {
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 2;

    margin: auto;
    width: 50%;
    background-color: white;
    border: 3px solid green;
    padding: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-modal-backdrop {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;

    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: 50%;
}

.user-movie-card {
    border: solid 1px;
    display: flex;
    justify-content: space-around;
}
.user-movie-card > img {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.modal-button-and-indicator {
    display: flex;
    justify-content: space-between;
}
.modal-button-and-indicator-img {
    width: 1.0rem;
    height: 1.0rem;
}



/* USER PAGE
--------------------------------------------------------------------------- */
.user_page_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 0.5rem;
    gap: 1.0rem;
}

/* Content */
.user_page_VStack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.0rem;
}
.user_page_HStack {
    display: flex;
    justify-content: space-between;
}

/* Header */
.user_page_header { 
    display: flex;
    justify-content: flex-start;
    padding: 0 1.0rem;
}
/* Bio */
.user_page_bio {
    border: solid 1px;
    padding: 0 1.0rem;
}


/* Socials Bar */
.user_page_socials {
    height: 3.0rem;
    background-color: rgba(0,122,255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    padding: 0 1.0rem;
    gap: 1.0rem;
}
.user_page_socials > p {
    color: white;
    border-right: 2px solid white;
    padding-right: 1.0rem;
}
.user_page_socials > button {
    height: 2.0rem;
    padding: 0 1.0rem;
}


/* User Statistics 
--------------------------------------------------------------------------- */
.user-page-statistics {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.0rem;
    gap: 0;
}
.statistics-header  { 
    height: 1.5rem;
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
}
.user-statistics {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0rem;
    gap: 0.5rem;
}
.statistics-label   { font-weight: 500; }
.statistics-item    { 
    color: rgba(0,122,255); 
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    font-size: smaller;
}
/* .statistics-spacer  { height: 0.5rem;           } */







/* User Watch Lists */
.user_watch_lists {
    width: 75%;
    border: solid 1px;
}
.user_watch_lists > h3 {
    padding: 0 1.0rem;
}
.watch_lists_info {
    display: flex;
    justify-content: flex-start;
    padding: 0 1.0rem;
    gap: 1.0rem;
}
.list_preview_wrapper {
    padding: 1.0rem;

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);   
    gap: 1.0rem;
}
.list_preview {
    background: rgba(209,209,214);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 0.25rem 0.5rem;
}






/* HOME PAGE
--------------------------------------------------------------------------- */
.home-page-content {
    display: flex;
    justify-content: space-between;
    column-gap: 1.0rem;
    padding: 1.0rem 0;
}
.trending-movies {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    padding: 0 1.0rem 1.0rem 1.0rem;
}
.trending-list-header  { 
    height: 1.5rem;
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
}
.trending-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 1.0rem;
    column-gap: 1.0rem;
    padding: 0;
    text-decoration: none;
}
.trending-item {
    width: 25%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 1.0rem 1.0rem 0.0rem 1.0rem;
    text-decoration: none;
    color: black;
}


.friends-list {
    min-width: 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.0rem;
}
.friends-list-header  { 
    height: 1.5rem;
    font-size: large; 
    font-weight: bold; 
    border-bottom: 1px solid #ddd;
}
.user-friends-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0rem;
    gap: 0.5rem;
}
.friend-username    { 
    color: rgba(0,122,255); 
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    font-size: smaller;
}













/* Home Page 
--------------------------------------------------------------------------- */
.home-search{
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: inherit;
}

.home-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-movie{
    width: 200px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
}

.home-movie img{
    width: 100%;
}




/* Movie Page
-------------------------------------------------------------------------------------- */

.movie-page-img-container {
    width: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-decoration: none;
    color: black;
}

.movie-page-overview-container {
    width: 600px;
    height: 385px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 325px;
    bottom: 455px;
}





/*
Flex Box Reference
-------------------
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/

Shadows
--------
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


System Grays 
-------------
https://developer.apple.com/design/human-interface-guidelines/foundations/color/

    lightmode
    gray 2: rgba(174,174,178)
    gray 4: rgba(209,209,214)
    gray 5: rgba(229,229,234)

    darkmode 
    gray 3: rgba(72,72,74)


System Colors
--------------
https://developer.apple.com/design/human-interface-guidelines/foundations/color/

    lightmode
    blue: rgba(0,122,255)

*/