{% extends 'base.html' %}

{% block header %}
  <h1> {% block title %} Home {% endblock %} </h1>
  {% endblock %}
  
  {% block content %}
  <!--
      includes:
      ----------
      * trending movies
      - from movieDisplay
      
      * friends list
    -->
    
    <div class="home-page-content">
        
        <div class="trending-movies">
            <!-- 
                each one includes:
                * poster
                * title 
                * link to individual movie page 
                - which means we also need the movies id
                - should just be the entire box
                - so i think that means it should be "a" and not "div"
            -->
            <p class="trending-list-header"> Trending Movies </p>
            <div class="home-search-drop">
                <form id="form">
                  <input type="text" placeholder="Search" id="search" class="home-search" >
                </form>
                <div class="dropdown">
                    <button class="dropbtn">Filters</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
            </div>
            
        <div class="trending-list"> 
            {% for movie in movieDisplay %}
                <a href="{{ url_for('movie_page', movieID=movie['id']) }}" class="trending-item">
        
                    <img src="{{ movie['poster'] }}" alt="movie poster for {{ movie['title'] }}">
                    <h3> {{ movie['title'] }} </h3>
                    <!-- the link includes {{ movie['id'] }}-->
            
                </a>
            {% endfor %}
        </div>
    </div>


    <div class="friends-list">
    <!-- 
    includes:
        * users name
        * link to individual movie page 
            - which means we also need the users id
    -->
        <p class="friends-list-header"> Friends </p>

        <ul class="user-friends-list">
            {% for friend in user_friends %}
            
            <li class="friend-username"> <a href="{{ url_for('user_page', userID=friend[1]) }}"> {{ friend[0] }} </a> </li>
            {% endfor %}
        </ul>

    </div>

</div>

    
{% endblock %}
