{% extends 'base.html' %}

{% block header %}
  <h1> {% block title %} Home {% endblock %} </h1>
  {% endblock %}
  
  {% block content %}
  <!--
      includes:
      ----------
      * trending movies
      - from movieDisplay
      
      * friends list
    -->
    
    <div class="home-page-content">
        
        <div class="trending-movies">
            <!-- 
                each one includes:
                * poster
                * title 
                * link to individual movie page 
                - which means we also need the movies id
                - should just be the entire box
                - so i think that means it should be "a" and not "div"
            -->
            <p class="trending-list-header"> Trending Movies </p>
            <div class="home-search-drop">
                <form id="form" method="post" action="#">
                  <input type="text" placeholder="Search" id="search" name="searched" class="home-search" >
                </form>
                <div class="dropdown" >
                    <button class="dropbtn">Filters</button>
                    <div class="dropdown-content">
                        <h6 style="align-items: center;">Genres</h6>
                        <form class="drop-form" method="post" action="#">
                          <div id="tags">
                            <!-- <ul>
                                <li class="tag" data-value="28">
                                    Action
                                </li>
                                <li class="tag" data-value="12">
                                    Adventure
                                </li>
                                <li class="tag" data-value="35">
                                    Comedy
                                </li>
                                <li class="tag" data-value="18">
                                    Drama
                                </li>
                            </ul> -->
                            <p><input type="checkbox" name="myCheckbox" id="28" class="tag"><label for="action">Action</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <p><input type="checkbox" name="myCheckbox" id="12" class="tag"><label for="action">Adventure</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <p><input type="checkbox" name="myCheckbox" id="35" class="tag"><label for="action">Comedy</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <p><input type="checkbox" name="myCheckbox" id="18" class="tag"><label for="action">Drama</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="submit" name="myCheckbox">
                          </div>
                        </div>
                      </div>
                </form>
            </div>
            
        <div class="trending-list"> 
            {% for movie in movieDisplay %}
                <a href="{{ url_for('movie_page', movieID=movie['id']) }}" class="trending-item">
        
                    <img src="{{ movie['poster'] }}" alt="movie poster for {{ movie['title'] }}">
                    <h3> {{ movie['title'] }} </h3>
                    <!-- the link includes {{ movie['id'] }}-->
            
                </a>
            {% endfor %}
        </div>
    </div>


    <div class="friends-list">
    <!-- 
    includes:
        * users name
        * link to individual movie page 
            - which means we also need the users id
    -->
        <p class="friends-list-header"> Friends </p>

        <ul class="user-friends-list">
            {% for friend in user_friends %}
            
            <li class="friend-username"> <a href="{{ url_for('user_page', userID=friend[1]) }}"> {{ friend[0] }} </a> </li>
            {% endfor %}
        </ul>

    </div>

</div>

    
{% endblock %}
