<style>
    .outgoing-requests {}

    .manage-friends{
        background-color: lightgrey;
        height: 300px;
        padding: 3px;
    }
</style>

<div class="manage-friends">

    <h3> Search Users </h3> 
    <div>
        <form hx-post="{{ url_for('modal_form_search_users') }}" hx-target="#search-results" hx-swap="innerHTML">
            <input type="text" name="username" required>
            <button class="btn btn-primary" type="submit" value="Submit"> Search </button>
        </form>
        

        <div id="search-results"></div>

    </div>




    <h3> Incoming Requests </h3> 
    <table class="incoming-requests">
        <tr>
            <th> From:    </th>
            <th> Sent:  </th>
        </tr>

        {% for request in friend_requests["incoming_requests"] %}
        <tr id="incoming-{{ request[0] }}">
            <td> {{ request[3] }} </td>
            <td> {{ request[4] }} </td>
            <td>
                <form id="accept-{{ request[0] }}" hx-post="{{ url_for('modal_form_resolve_request') }}" hx-target="outgoing-{{ request[1] }}" hx-swap="outerHTML"> 
                    <input type="hidden" name="sender_id"   value="{{ request[0]    }}" >
                    <input type="hidden" name="receiver_id" value="{{ g.user[0]     }}" >
                    <input type="hidden" name="answer"      value="{{ 1             }}" >
                    <button class="btn btn-success" type="submit" form="accept-{{ request[0] }}"> Accept </button>
                </form>
                <form id="decline-{{ request[0] }}" hx-post="{{ url_for('modal_form_resolve_request') }}" hx-target="outgoing-{{ request[1] }}" hx-swap="outerHTML"> 
                    <input type="hidden" name="sender_id"   value="{{ request[0]    }}" >
                    <input type="hidden" name="receiver_id" value="{{ g.user[0]     }}" >
                    <input type="hidden" name="answer"      value="{{ 0             }}" >
                    <button class="btn btn-danger" type="submit" form="decline-{{ request[0] }}"> Decline </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    <h3> Outgoing Requests </h3> 
    <table class="outgoing-requests">
        <tr>
            <th> To:    </th>
            <th> Sent:  </th>
        </tr>

        {% for request in friend_requests["outgoing_requests"] %}
        <tr id="outgoing-{{ request[1] }}">
            <td> {{ request[3] }} </td>
            <td> {{ request[4] }} </td>
            <td>
                <form id="cancel-{{ request[1] }}" hx-post="{{ url_for('modal_form_resolve_request') }}" hx-target="outgoing-{{ request[1] }}" hx-swap="outerHTML"> 
                    <input type="hidden" name="sender_id"   value="{{ g.user[0]     }}" >
                    <input type="hidden" name="receiver_id" value="{{ request[1]    }}" >
                    <input type="hidden" name="answer"      value="{{ 0             }}" >
                    <button class="btn btn-danger" type="submit" form="cancel-{{ request[1] }}"> Cancel </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>