{% extends 'base.html' %}

{% block header %}
  <h1 class="movie-page-header"> {% block title %} {{ movieDisplay[0] }} {% endblock %}     
</h1> 

{% endblock %}

{% block content %}
    <!-- Backdrop div (behind the overview and movie poster) -->
    <div style="
        position: absolute;
        height: 600px;
        width: 1300px;
        margin-top: 0%;
        background-image: url({{movieDisplay[11]}});
        background-size: 100%;
        filter: blur(5px);
        opacity: .75;">
    </div>

    <div class="movie-page-content-container">
        <!-- movie image -->
        <div class="movie-page-img-container">
            <img src="{{ movieDisplay[1] }}" alt="image">
        </div>
        <!-- movie overview and information -->
        <div class="movie-page-overview-container">
            <p>{{ movieDisplay[5]}}</p>
            <p><em>{{ movieDisplay[6]}}</em></p>
            <h4>Overview:</h4>
            <p>{{ movieDisplay[2] }} </p>
            <p>Release Date: {{ movieDisplay[3] }} <br>
            Runtime: {{ movieDisplay[4] }} minutes</p>
            <br>
            <h5>About {{ movieDisplay[0] }}</h5>
            <p> Status: {{ movieDisplay[7] }}
                &nbsp; | &nbsp; Original Language: {{ movieDisplay[10] }}
                &nbsp; | &nbsp; Budget: ${{ movieDisplay[8] }}
                &nbsp; | &nbsp; Revenue: ${{ movieDisplay[9] }}
            </p>
        </div> 
        <!-- add movie button -->
        <button type="submit" class="movie-page-add-button">
            Add Movie
        </button>
    </div>

    <!-- Cast list
        Shows first 6 cast members. Add new page of full cast and crew later?

     -->
    <div class="movie-page-extra-container">
        <h3>Cast (showing: 6...)</h3>
        <div id="cast-container">
            <div class="cast-box"> 
                <img src="{{movieDisplay[13]}}" alt="{{movieDisplay[12][0]}}">   
                <div class="cast-name">
                    {{movieDisplay[12][0]}}
                    <div class="character-name">
                        {{movieDisplay[19]}}
                    </div>
                </div>
            </div>
            <div class="cast-box"> 
                <img src="{{movieDisplay[14]}}" alt="{{movieDisplay[12][2]}}">
                <div class="cast-name">
                    {{movieDisplay[12][2]}}
                    <div class="character-name">
                        {{movieDisplay[20]}}
                    </div>
                </div>
            </div>
            <div class="cast-box"> 
                <img src="{{movieDisplay[15]}}" alt="{{movieDisplay[12][4]}}">
                <div class="cast-name">
                    {{movieDisplay[12][4]}}
                    <div class="character-name">
                        {{movieDisplay[21]}}
                    </div>
                </div>
            </div>
            <div class="cast-box"> 
                <img src="{{movieDisplay[16]}}" alt="{{movieDisplay[12][6]}}">
                <div class="cast-name">
                    {{movieDisplay[12][6]}}
                    <div class="character-name">
                        {{movieDisplay[22]}}
                    </div>
                </div>
            </div>
            <div class="cast-box"> 
                <img src="{{movieDisplay[17]}}" alt="{{movieDisplay[12][8]}}">
                <div class="cast-name">
                    {{movieDisplay[12][8]}}
                    <div class="character-name">
                        {{movieDisplay[23]}}
                    </div>
                </div>
            </div>
            <div class="cast-box"> 
                <img src="{{movieDisplay[18]}}" alt="{{movieDisplay[12][10]}}">
                <div class="cast-name">
                    {{movieDisplay[12][10]}}
                    <div class="character-name">
                        {{movieDisplay[24]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
