
{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center my-2" style="min-height: 600px;">
  <div class="col-5 p-3 shadow">
    <form method="post">
      <div class="form-group mb-2">
        <label for="username">Username</label>
        <input class="form-control" name="username" id="username" required>
      </div>
      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
      </div>
      <p class="text-center"><input class="btn btn-primary" type="submit" value="Register"></p>
    </form>
  </div>
  
    <!-- 
    Creates list of benefits in order to get people to sign up
   -->
  <div class="benefits">
    <br>
    <br>
    <h5>Benefits of Registering and Logging in:</h5>
    <br>
    <p><i class="fa-solid fa-check"></i>Create movie lists and organize them however you want</p>
    <p><i class="fa-solid fa-check"></i>Add any movie you can think of to any of your lists</p>
    <p><i class="fa-solid fa-check"></i>See you're own statistics about the movies you watch </p>
    <p><i class="fa-solid fa-check"></i>See which genres you watch most</p>
    <p><i class="fa-solid fa-check"></i>Add friends and see what they're watching</p>


</div>
</div>
{% endblock %}

<!--Register page reworked added a box to make more professional-->
<!--Register page added boxes and centered in middle-->
<!--Register page FULLY DONE-->