{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} ADMIN PANEL {% endblock %}</h1>
    <h3> {{ debug_info }} </h3>
    <table class="test4">
        <tr class="test3">
          <th class="test1">User ID</th>
          <th class="test2">Username</th>
          <th class="test2">Password</th>
          <th class="test1">Privileges</th>
          
        </tr>
        {% for this_user in test_users %}
            <tr class="test3">
                <!-- user ID -->
                <!-- -------------------------------------------------------- -->
                <td class="test1"> 
                    {{ this_user[0] }}
                    <!-- stars show which user is currently selected -->
                    {% if this_user[0]|int == userID|int %}
                        | **   
                    {% else %}
                        | --
                    {% endif %}
                </td>


                <!-- Username -->
                <!-- -------------------------------------------------------- -->
                <td class="test2"> 
                    <div> {{ this_user[1] }} </div>
                    <!-- Buttons to delte user, need to click a second time to confirm -->
                    <form method="post"> 
                        {% if this_user[0]|int == userID and action|int == 5 %}    
                            <input type="submit" value="Confirm Delete User?" >
                            <input type="hidden" name="action"        value="{{ 6 }}"               >  
                            <input type="hidden" name="modify_userID" value="{{ this_user[0] }}"    >  
                        {% else %}
                            <input type="submit" value="Delete User" >
                            <input type="hidden" name="action"        value="{{ 5 }}"               >  
                            <input type="hidden" name="modify_userID" value="{{ this_user[0] }}"    >
                        {% endif %}
                    </form> 
                </td>


                <!-- Password -->
                <!-- -------------------------------------------------------- -->
                <td class="test2"> 
                    <div id="box{{this_user[0]}}">
                        <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
                    
                        <form hx-post="/reset_password_htmx" hx-trigger="every 0.5s" hx-target="#box{{this_user[0]}}" hx-swap="outerHTML" > 
                            <p> empty </p>
                            <input type="hidden" name="this_user" value="{{ this_user }}"   >  
                        </form>
                    </div>
                </td>


                <!-- Privilege Level -->
                <!-- -------------------------------------------------------- -->
                <td class="test1"> 
                    <div> {{ this_user[3] }} </div>
                    
                    <!-- Button just changes the users privelages -->
                    <form method="post"> 
                        {% if this_user[3] == 0 %}    
                            <input type="submit" value="Promote" >
                            <input type="hidden" name="action"          value="{{ 3 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >  
                        {% else %}
                            <input type="submit" value="Demote" >
                            <input type="hidden" name="action"          value="{{ 4 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >
                        {% endif %}
                    </form> 
                </td>


            </tr>
        {% endfor %}
        

        <!-- Add User Button -->
        <!-- -------------------------------------------------------- -->
        <tr class="test3">
        	<form method="post"> 
                <!-- Button to display form fields and to confirm when done -->
           		{% if action|int == 7 %}    
           			<td class="test1"> 
                        <input type="submit" value="Finish" >
                        <input type="hidden" name="action"        value="{{  8 }}"  >
                        <input type="hidden" name="modify_userID" value="{{ -1 }}"  >    
					</td>
					<td class="test2"> Username: <input type="new_username" name="new_username" id="new_username" required> </td>
					<td class="test2"> Password: <input type="new_password" name="new_password" id="new_password" required> </td>
					<td class="test1"> Default Privilege Level: 0 </td>
				{% else %}
					<td class="test1">
						<input type="submit" value="Create New User" >
                        <input type="hidden" name="action"        value="{{  7 }}"  >
                        <input type="hidden" name="modify_userID" value="{{ -1 }}"  >  
                    </td>
					<td class="test2">   </td>
					<td class="test2">   </td>
					<td class="test1">   </td>
				{% endif %}
			</form>
	    </tr>

    </table>

{% endblock %}