<div id="box{{this_user[0]}}">
	<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>

	<form hx-post="/reset_password_htmx" hx-trigger="click" hx-target="#box{{this_user[0]}}" hx-swap="outerHTML" > 

                <p> {{ this_user[2] }} </p>
                <input type="submit" value="Change Password" >

                <input type="hidden" name="this_user" value="{{ this_user }}"   >  
                <input type="hidden" name="action"    value="{{ 1 }}"           >  

	</form>

</div>