{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-2">{% block title %} ADMIN PANEL {% endblock %}</h1>
    <h3> {{ debug_info }} </h3>
    <table class="table table-bordered table-striped table-secondary text-center align-middle shadow">
        <tr class="">
          <th class="">User ID</th>
          <th class="">Username</th>
          <th class="">Password</th>
          <th class="">Privileges</th>
          
        </tr>
        {% for this_user in test_users %}
            <tr class="">
                <!-- user ID -->
                <!-- -------------------------------------------------------- -->
                <td class=""> 
                    {{ this_user[0] }}
                    <!-- stars show which user is currently selected -->
                    {% if this_user[0]|int == userID|int %}
                        | **   
                    {% else %}
                        | --
                    {% endif %}
                </td>


                <!-- Username -->
                <!-- -------------------------------------------------------- -->
                <td class="d-flex flex-column justify-content-center align-items-center"> 
                    <div> {{ this_user[1] }} </div>
                    <!-- Buttons to delte user, need to click a second time to confirm -->
                    <form method="post"> 
                        {% if this_user[0]|int == userID and action|int == 5 %}    
                            <input type="submit" value="Confirm Delete User?" >
                            <input type="hidden" name="action"        value="{{ 6 }}"               >  
                            <input type="hidden" name="modify_userID" value="{{ this_user[0] }}"    >  
                        {% else %}
                            <input type="submit" value="Delete User" >
                            <input type="hidden" name="action"        value="{{ 5 }}"               >  
                            <input type="hidden" name="modify_userID" value="{{ this_user[0] }}"    >
                        {% endif %}
                    </form> 
                </td>


                <!-- Password -->
                <!-- -------------------------------------------------------- -->
                <td class=""> 
                    <form method="post"> 
                        {% if this_user[0]|int == userID and action|int == 1 %}    
                            <!-- if this user's password IS being reset, show an input box and submit button -->
                            <input type="new_password" name="new_password" id="new_password" required>
                            <input type="submit" value="Submit">
                            <input type="hidden" name="action"          value="{{ 2 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >
                        {% else %}
                            <!-- if this user's password is NOT being reset, show their password and the "Reset Passwird" button -->
                            {{ this_user[2] }} 
                            <input type="submit" value="Change Password" >
                            <input type="hidden" name="action"          value="{{ 1 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >
                        {% endif %}
                    </form> 
                </td>


                <!-- Privilege Level -->
                <!-- -------------------------------------------------------- -->
                <td class="d-flex flex-column"> 
                    <div> {{ this_user[3] }} </div>
                    
                    <!-- Button just changes the users privelages -->
                    <form method="post"> 
                        {% if this_user[3] == 0 %}    
                            <input type="submit" value="Promote" >
                            <input type="hidden" name="action"          value="{{ 3 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >  
                        {% else %}
                            <input type="submit" value="Demote" >
                            <input type="hidden" name="action"          value="{{ 4 }}"             >  
                            <input type="hidden" name="modify_userID"   value="{{ this_user[0] }}"  >
                        {% endif %}
                    </form> 
                </td>


            </tr>
        {% endfor %}
        

        <!-- Add User Button -->
        <!-- -------------------------------------------------------- -->
        <tr class="">
        	<form method="post"> 
                <!-- Button to display form fields and to confirm when done -->
           		{% if action|int == 7 %}    
           			<td class=""> 
                        <input type="submit" value="Finish" >
                        <input type="hidden" name="action"        value="{{  8 }}"  >
                        <input type="hidden" name="modify_userID" value="{{ -1 }}"  >    
					</td>
					<td class="d-flex flex-column justify-content-center align-items-center"> <span> Username: </span> <span><input type="new_username" name="new_username" id="new_username" required></span> </td>
					<td class="d-flex flex-column justify-content-center align-items-center"> <span> Password: </span> <span><input type="new_password" name="new_password" id="new_password" required></span> </td>
					<td class=""> Default Privilege Level: 0 </td>
				{% else %}
					<td class="">
						<input type="submit" value="Create New User" >
                        <input type="hidden" name="action"        value="{{  7 }}"  >
                        <input type="hidden" name="modify_userID" value="{{ -1 }}"  >  
                    </td>
					<td class="">   </td>
					<td class="">   </td>
					<td class="">   </td>
				{% endif %}
			</form>
	    </tr>

    </table>

{% endblock %}

  <!-- Format plus add graph to make it look more professional -->
   <!-- buttons are misplaced need to fix placement -->