<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>CSC 394 - group 1</h1>
  <ul>
    <li><a href="{{ url_for('index') }}">Users</a>
    {% if g.user %}
      <li><a href="{{ url_for('user_page', userID=g.user[0]) }}"> {{ g.user[1] }} </a>
      <li><a href="{{ url_for('auth.logout') }}"                > Log Out         </a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register </a>
      <li><a href="{{ url_for('auth.login') }}"   >Log In   </a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>