<!doctype html>
<title>{% block title %}{% endblock %}</title>

<!-- Imports -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style-light.css') }}">
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>

<nav>
  <h1 class="top-logo">CinemUs</h1>
  <ul>
    <li><a href="{{ url_for('home_page', userID=g.user[0]) }}"> Home              </a>
    <li><a href="{{ url_for('index') }}">Users</a>
    {% if g.user %}
      <li><a href="{{ url_for('user_page', userID=g.user[0]) }}"> {{ g.user[1] }} </a>
      <li><a href="{{ url_for('auth.logout') }}"                > Log Out         </a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register </a>
      <li><a href="{{ url_for('auth.login') }}"   >Log In   </a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!-- Footer -->
<div class="my-footer"> 
  <!-- MovieDB api credit for movie info -->
</div>