{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Users {% endblock %}</h1>

    <table>
        <tr>
          <th>user ID</th>
          <th>username</th>
          <th>password</th>
          <th>privileges</th>
          
        </tr>
        {% for this_user in test_users %}
            <tr>
                <td> {{ this_user[0] }} </td>
                <td> {{ this_user[1] }} </td>
                <td> ********           </td>
                <td> {{ this_user[3] }} </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
